In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
194,tt1972779,26000000,35926213,The Best of Me,Michelle Monaghan|James Marsden|Liana Liberato...,Michael Hoffman,You never forget your first love.,A pair of former high school sweethearts reuni...,117,Drama|Romance,Relativity Media,10/16/2014,7.2,2014
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010
1803,tt0208092,10000000,83557872,Snatch,Jason Statham|Brad Pitt|Vinnie Jones|Dennis Fa...,Guy Ritchie,Stealin' Stones and Breakin' Bones.,The second film from British director Guy Ritc...,103,Thriller|Crime,Columbia Pictures Corporation|SKA Films,9/1/2000,7.5,2000
394,tt0446029,60000000,47664559,Scott Pilgrim vs. the World,Michael Cera|Mary Elizabeth Winstead|Kieran Cu...,Edgar Wright,Get the hot girl. Defeat her evil exes. Hit lo...,Scott Pilgrim is a film adaptation of the crit...,112,Action|Adventure|Comedy,Universal Pictures|Marc Platt Productions,7/27/2010,7.2,2010
466,tt1287468,85000000,112483764,Cats & Dogs 2 : The Revenge of Kitty Galore,James Marsden|Nick Nolte|Christina Applegate|B...,Brad Peyton,Just like real spies... only furrier.,The ongoing war between the canine and feline ...,82,Comedy|Family,Village Roadshow Pictures,7/30/2010,5.0,2010

In [149]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 221.5+ KB

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#Создадим колонку Прибыль(profit = revenue - budget)

profit = data.revenue - data.budget
data['profit'] = profit

# Описываем функцию, которая будет возвращать нам значение месяца из полной даты

def get_month(t):
    if t == '':
        return t
    else:
        t = t.split('/')
        return t[0]

# Описываем функцию, которая будет считать количество символов в названии фильма
    
def len_original_title(s):
    if s == '':
        return s
    else:
        s = len(s)
        return s

# Описываем функцию, которая будет считать количество слов в описании фильма

def len_overview(w):
    if w == '':
        return 0
    else:
        w = len(w.split(' '))
        return w

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:

#С помощью возможностей pandas извлечём данные по условию

data[data.budget == data.budget.max()].original_title 

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [16]:
# можно добавлять разные варианты решения

data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [6]:
# Воспользуемся медотом max()

data[data.runtime == data.runtime.max()]

answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
# Воспользуемся медотом min()

data[data.runtime == data.runtime.min()]

answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [8]:
# Воспользуемся медотом mean()

data.runtime.mean()

answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [9]:
# Получаем данные по колонкам имеющим числовой формат и выбираем необходимое нам значение

data.runtime.describe()

answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# Используем созданный нами ранее столбец profit и получаем необходимый результат

data[data.profit == data.profit.max()]

answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [11]:
# Так же, как и в задании 6 - используем столбец profit и получаем необходимый результат

data[data.profit == data.profit.min()]

answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
# Проводим фильтрацию данных по нашим параметрам

data[data.revenue > data.budget].info()

answers['8'] = '1478'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   object
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
dtypes: float64(1), int64(5), object(9)
memory usage: 184.8+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [13]:
# Создаём переменную в которую записываем данные по интересующей выборке
data_2008 = data[data.release_year == 2008]
# Проводим анализ и получаем ответ
data_2008[data_2008.revenue == data_2008.revenue.max()]

answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [14]:
# Создаём переменную в которую записываем данные по интересующей выборке с помощью ряда условий
data_12_14 = data[(2012 <= data.release_year) & (data.release_year <= 2014)]
# Проводим анализ и получаем ответ
data_12_14[data_12_14.profit == data_12_14.profit.min()]

answers['10'] = 'The Lone Ranger (tt1210819)'
# P.S.: Лично по мне - интересней бы было выбрать другой временной период.

# 11. Какого жанра фильмов больше всего?

In [15]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Создаём копию данных, это позволит не вносить изменения в основную базу
data11 = data.copy()
# Разделяем данные по жанрам чтобы получить достоверный результат
data11['genres'] = data11.genres.str.split('|')
genres = data11.explode('genres')['genres']
# Используем метод Counter
counter_genres = Counter(genres)

counter_genres.most_common(1)

answers['11'] = 'Drama'

ВАРИАНТ 2

In [228]:
# Повторяем действия с базой
data11_1 = data.copy()
data11_1['genres'] = data11_1.genres.str.split('|')
data11_1 = data11_1.explode('genres')

# Используем метод value_counts
data11_1.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [16]:
# Проводим разделение базы и считаем результат с помощью условия и метода value_counts
data12 = data.copy()
data12['genres'] = data12.genres.str.split('|')
data12 = data12.explode('genres')
data12.genres[data12.profit > 0].value_counts().head(1)

answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [17]:
data13 = data.copy()
# В этот раз проводим разделение по колонке director и проводим суммирование по группам
director_revenue = data13.groupby(['director']).revenue.sum().sort_values(ascending = False)
director_revenue.head(3)

answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [18]:
data14 = data.copy()
# Важно провести сначала разделение по колонке director, это позволит получить корректные данные по каждому из них в дальнейшем
data14['director'] = data14.director.str.split('|')
data14 = data14.explode('director')
# Разделяем по колонке genres
data14['genres'] = data14.genres.str.split('|')
data14 = data14.explode('genres')
# И подсчитываем результаты
s = data14[(data14.genres == 'Action')].director.value_counts().sort_values(ascending=False)
display(s)

s.sum()

answers['14'] = 'Robert Rodriguez'

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
David Bowers          1
Tom Dey               1
Jim Gillespie         1
Geoffrey Sax          1
Scott Stewart         1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [19]:
data15 = data.copy()
# Разбиваем по колонке cast 
data15['cast'] = data15.cast.str.split('|')
data15 = data15.explode('cast')
# Отсекаем лишние данные
data15 = data15[data15.release_year == 2012]
# Извлекаем результат
cast_revenue = data15.groupby(['cast']).revenue.sum().sort_values(ascending = False)
cast_revenue.head(5)

answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [20]:
# Повторяем действия Задания 15 с корректировками по условиям
data16 = data.copy()
data16['cast'] = data16.cast.str.split('|')
data16 = data16.explode('cast')
data16 = data16[data16.budget > data16.budget.mean()]

data16.cast.value_counts()

answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [21]:
# Повторяем действия Задания 15 с корректировками по условиям и дополнительным разделением на жанры
data17 = data.copy()
data17['cast'] = data17.cast.str.split('|')
data17 = data17.explode('cast')
data17 = data17[data17.cast == 'Nicolas Cage']

data17['genres'] = data17.genres.str.split('|')
data17 = data17.explode('genres')

data17.genres.value_counts()

answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [22]:
# Повторяем действия Задания 15 с корректировками по условиям
data18 = data.copy()
data18['production_companies'] = data18.production_companies.str.split('|')
data18 = data18.explode('production_companies')
data18 = data18[data18.production_companies == 'Paramount Pictures']

data18[data18.profit == data18.profit.min()]

answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [23]:
# Используем суммирование по группам
release_year_well = data.groupby(['release_year']).revenue.sum().sort_values(ascending = False)
release_year_well.head(5)

answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [24]:
# Повторяем действия Задания 15 с корректировками по условиям
data20 = data.copy()
data20['production_companies'] = data20.production_companies.str.split('|')
data20 = data20.explode('production_companies')
# Важно обратить внимание, что название студии Warner Bros представлено в базе разными вариантами
# Используем метод contains для получения всех вариантов в базе
data20 = data20[data20.production_companies.str.contains('Warner', na=False)]

# Используем суммирование по группам
release_year_well_WB = data20.groupby(['release_year']).profit.sum().sort_values(ascending = False)
release_year_well_WB.head(5)

answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [25]:
data21 = data.copy()
# Используем функцию release_month прописанную в предобработке
data21['release_month'] = data21.release_date.apply(get_month)
# Создаём сводную таблицу
pivot_21 = data21.loc[data21['release_month'].isin(['1','2','3','4','5','6','7','8','9','10','11','12'])].pivot_table(values=['original_title'],
index=['release_year'],
columns=['release_month'],
aggfunc='count',
margins=True)
display(pivot_21)

answers['21'] = 'Сентябрь'

              original_title                                               \
release_month              1   10   11   12    2    3    4    5    6    7
release_year
2000                       2    8    7   14    7    9   10    7    8    8
2001                       4   13    9   11    7    7    7    5   10   11
2002                       4   11    7   15   10   11    8    7    7    7
2003                       3   11    9    9    8    6   11    8    6    8
2004                       5   10    8   12    9    7   15    8   11    8
2005                       9    7   10    9    8    8    6   11   13   10
2006                       5   12    7   17    8   13    9    9    9    8
2007                       5   13   11   13   10   11   12    8   12    8
2008                       7   15    8   12   11    5   10    9    9   10
2009                      12   11   11   10    8   12    9    7   10    8
2010                       9   14   11   10    8   11   10    8   12    9
2011                      10   11   10   14   12   15   13   11    5   12
2012                       7    8    6    6    7   10   10   11   12    3
2013                      11   14    8   15    8   10    7   11   10   12
2014                       9   15    9   16    8   12    5   12    4    9
2015                       8   13   15    7    6    9    7    8    9   11
All                      110  186  146  190  135  156  149  140  147  142


release_month    8    9   All
release_year
2000             5    5    90
2001            11    8   103
2002            11    9   107
2003             8    9    96
2004             6   10   109
2005             9   21   121
2006            12   18   127
2007            13   14   130
2008            13   12   121
2009            11   22   131
2010            10   14   126
2011             9   21   143
2012            12   19   111
2013            10   19   135
2014            13    9   121
2015             8   17   118
All            161  227  1889

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [26]:
data22 = data.copy()
# Используем функцию release_month прописанную в предобработке
data22['release_month'] = data22.release_date.apply(get_month)

# Создаём сводную таблицу
pivot_22 = data22.loc[data22['release_month'].isin(['1','2','3','4','5','6','7','8','9','10','11','12'])].pivot_table(values=['original_title'],
index=['release_year'],
columns=['release_month'],
aggfunc='count',
margins=True)
display(pivot_22)

# Считаем результат
sum_film_summer = pivot_22.loc['All']['original_title']['6'] + pivot_22.loc['All']['original_title']['7'] + pivot_22.loc['All']['original_title']['8']

sum_film_summer

answers['22'] = '450'

              original_title                                               \
release_month              1   10   11   12    2    3    4    5    6    7
release_year
2000                       2    8    7   14    7    9   10    7    8    8
2001                       4   13    9   11    7    7    7    5   10   11
2002                       4   11    7   15   10   11    8    7    7    7
2003                       3   11    9    9    8    6   11    8    6    8
2004                       5   10    8   12    9    7   15    8   11    8
2005                       9    7   10    9    8    8    6   11   13   10
2006                       5   12    7   17    8   13    9    9    9    8
2007                       5   13   11   13   10   11   12    8   12    8
2008                       7   15    8   12   11    5   10    9    9   10
2009                      12   11   11   10    8   12    9    7   10    8
2010                       9   14   11   10    8   11   10    8   12    9
2011                      10   11   10   14   12   15   13   11    5   12
2012                       7    8    6    6    7   10   10   11   12    3
2013                      11   14    8   15    8   10    7   11   10   12
2014                       9   15    9   16    8   12    5   12    4    9
2015                       8   13   15    7    6    9    7    8    9   11
All                      110  186  146  190  135  156  149  140  147  142


release_month    8    9   All
release_year
2000             5    5    90
2001            11    8   103
2002            11    9   107
2003             8    9    96
2004             6   10   109
2005             9   21   121
2006            12   18   127
2007            13   14   130
2008            13   12   121
2009            11   22   131
2010            10   14   126
2011             9   21   143
2012            12   19   111
2013            10   19   135
2014            13    9   121
2015             8   17   118
All            161  227  1889

# 23. Для какого режиссера зима – самое продуктивное время года?

In [27]:
data23 = data.copy()
data23['release_month'] = data23.release_date.apply(get_month)

data23['director'] = data23.director.str.split('|')
data23 = data23.explode('director')
# Извлекаем данные по зимним месяцам
data23 = data23[(data23.release_month == '12')|
               (data23.release_month == '1')|
               (data23.release_month == '2')]

data23.director.value_counts()

answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [28]:
data24 = data.copy()
data24['production_companies'] = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
# Используем функцию len_original_title описанную в предобработке
data24['len_title'] = data24.original_title.apply(len_original_title)
# Группируем и использум метод mean() - это позволит получить средние значения по разному количеству фильмов
len_result = data24.groupby(['production_companies']).len_title.mean().sort_values(ascending = False)

len_result

answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [29]:
data25 = data.copy()
data25['production_companies'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
# Используем функцию len_overview описанную в предобработке
data25['overview_len'] = data25.overview.apply(len_overview)
data25

overview_result = data25.groupby(['production_companies']).overview_len.mean().sort_values(ascending = False)

overview_result

answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [30]:
data26 = data.copy()
# Используем перцентиль
data26 = data26.copy().loc[data26.vote_average>data26.quantile(0.99, numeric_only=True).vote_average].original_title

data26

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27 = data27.explode('cast')

# К сожалению, я не смог разобраться с этим заданием. Есть несколько вариантов, которые я рассматривал.
# Но мне кажется, что они выходят слишком сложными. Очень хочу увидеть на созвоне варианты решения этого задания.

answers['27'] = 'None'

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'None'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27